<div class="tabla">
  <p style="font-size:23px; text-align: center;"> Configuraciones</p>

  <div class="medium-box">
    <div class="config-icon">
      <button mat-icon-button (click)="openDiaCuenta()">
        <mat-icon class="icon" style="padding-left: 17px;" matTooltip="AGREGAR CUENTA">assessment</mat-icon>
      </button><br><br>
      <span style="left: -15px;">Agregar Cuentas</span>
    </div>
    
  </div>


</div>
<footer class="foot">
  @ Derechos reservados ASP Integra Opciones V 1.1
</footer>