.tabla {
    padding: 8px;
    width: 97%;
    max-width: 97%;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin: 20px auto 10px;
    /* Añadir 50px de margen superior */
    text-align: justify;
}
table {
    width: 100%;
  }
  .tabla-container{
    margin-right: 18px;
    position: relative;
  }
  .disabled-button {
    opacity: 0.5;
    pointer-events: none;
  }
  .fila-error {
    background-color: rgb(255, 168, 168);
  }
  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  .foot{
    display: flex;
    height: 5%;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1em;
    }
    .button-eliminar{
      display: flex;
      justify-content: flex-start;
      margin-left: 10px;
      width: 170px;
    }
  :host ::ng-deep{
    .mat-sort-header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1.5em;

    }
  .mat-header-cell {
      text-align: center;
      margin: 0 10px;
  }
  .mat-cell{
    padding: 0 0.5rem;
  }
  } .mat-header-cell{
    padding: 0 0.5rem;
  }
  .mat-row{
    overflow-wrap: anywhere;
  }
  .mat-header-cell{
    text-align: center;
  }
