.body {
  padding: 18px;
  width: 95%;
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: 20px auto 20px;
  max-width: 100%;/* Añadir 50px de margen superior */
  padding-right: 0%;
}

.tabla {
  padding: 8px;
  width: 95%;
  max-width: 95%;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: 20px auto 10px;
  /* Añadir 50px de margen superior */
  text-align: justify;
}
table {
  width: 100%;
}
.foot{
  display: flex;
  height: 5%;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1em;
  }

.account-options-buttons{
  display: flex;
  align-items: center;
  gap: 2em;
  height: auto;
  width: 100%;
  margin: 3em 0em;
}
.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.otp-container{
  width: 20%;
}
