<div class="example-container">
	<header>	<mat-toolbar class="example-toolbar" *ngIf="estalogeado()">
		<div class="menu-container">
			<div class="left-size-header">
				<button mat-icon-button (click)="sidenav.toggle()">
					<mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
					<mat-icon *ngIf="sidenav.opened">keyboard_backspace</mat-icon>
				</button>

				<img src="assets\ImagenLogin\EiYu-55.jpg" class="imgEi">
				<h1 class="main-menu-title">Ei-Yu PORTAL</h1>
			</div>
			<div class="bienvenida">BIENVENIDO: {{des}}</div>
		</div>
    <div class="copyright-container">
      <p class="copyright-text">Owened and operated by</p>
      <img src="assets\asp-logo.png" class="imgASP">
    </div>

		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #menu="matMenu" class="transparent-menu">
			<!--button mat-menu-item routerLink="/perfil">
				<mat-icon>account_box</mat-icon>
				<span>Mi Perfil</span>
			</button-->

			<button mat-menu-item (click)="cerrarCession()" routerLink="/login">
				<mat-icon>exit_to_app</mat-icon>
				<span>Cerrar Sesión</span>
			</button>
		</mat-menu>

	</mat-toolbar>
</header>

	<mat-sidenav-container class="example-container" class="example-sidenav-container" autosize>

		<mat-sidenav mode="side" [opened]="estalogeado()" #sidenav style="width: 280px" autosize>

			<button mat-menu-item routerLink="/dashboard" style="cursor: pointer">
				<mat-icon>dashboard</mat-icon>
				<span style="font-size: 16px; font-weight: 600;">DASHBOARD</span>
			</button>
			<p class="id" style="font-size: 14px; font-weight: 600;">MOVIMIENTOS DEL PERIODO ACTUAL</p>
			<!--	<button mat-menu-item style="cursor: pointer">
					<mat-icon> monetization_on</mat-icon>
					<span >Pagos</span>
				</button-->

			<!--<button mat-menu-item style="cursor: pointer">
					<mat-icon> money_off</mat-icon>
					<span  >Abonos</span>
				</button-->

			<button mat-menu-item routerLink="/busqueda_movimiento" style="cursor: pointer">
				<mat-icon>star_rate</mat-icon>
				<span>Búsqueda de movimiento</span>
			</button>
			<p class="id" style="font-size: 14px; font-weight: 600;">SPEI</p>

			<!--<button mat-menu-item style="cursor: pointer">
					<mat-icon>healing</mat-icon>
					<span  >Unidades de negocio</span>
				</button-->

			<!--<button mat-menu-item style="cursor: pointer">
					<mat-icon>assignment</mat-icon>
					<span >Traspasar</span>
				</button-->

			<button mat-menu-item routerLink="/enviar_pago" style="cursor: pointer">
				<mat-icon>accessibility</mat-icon>
				<span>Enviar SPEI</span>
			</button>
			<button mat-menu-item routerLink="/autorizarspei" style="cursor: pointer">
				<mat-icon>assignment</mat-icon>
				<span>Autorizar SPEI</span>
			</button>
			<!--
				<p class="id" style="font-size: 14px; font-weight: 600;">CUENTAS</p>
				<button mat-menu-item style="cursor: pointer">
					<mat-icon>assessment</mat-icon>
					<span  > Cuentas</span>
				</button>

				<button mat-menu-item style="cursor: pointer">
					<mat-icon>assessment</mat-icon>
					<span  >Whistelist</span>
				</button>

				<button mat-menu-item style="cursor: pointer">
					<mat-icon>assessment</mat-icon>
					<span  >Activar/Desactivar Cuenta</span>
				</button>

				<button mat-menu-item style="cursor: pointer">
					<mat-icon>assessment</mat-icon>
					<span  >Plantillas cargadas</span>
				</button-->
        <!--div *ngIf="adm || rolnivel3">
          <p class="id" style="font-size: 14px; font-weight: 600;">CUENTA</p>
          <button mat-menu-item style="cursor: pointer" routerLink="/cargar_cuenta">
            <mat-icon>supervisor_account</mat-icon>
            <span>Cargar cuentas</span>
          </button>
        </div-->
			<div *ngIf="adm">
				<p class="id" style="font-size: 14px; font-weight: 600;">TESORERÍA</p>
				<button mat-menu-item style="cursor: pointer" routerLink="/trasferencia">
					<mat-icon>compare_arrows</mat-icon>
					<span> Transferencia</span>
				</button>
				<button mat-menu-item style="cursor: pointer" routerLink="/configuracion">
					<mat-icon>settings</mat-icon>
					<span> Configuraciones</span>
				</button>
			</div>




		</mat-sidenav>

		<mat-sidenav-content autosize>
			<router-outlet></router-outlet>

		</mat-sidenav-content>

	</mat-sidenav-container>

</div>
