<div class="main-container">
  <div class="title">
    <h1>¿Olvidaste tu contraseña?</h1>
  </div>
  <div class="content">
    <span>
      No te preocupes, estamos aquí para ayudarte. Para recuperar tu contraseña,
      por favor comunícate con nuestro equipo de soporte:</span
    >
    <ul>
      <li>Envía un correo electrónico a: <b>info@aspintegraopciones.com</b></li>
      <li>O llámanos al teléfono: <b>+52 800 462 7373</b></li>
    </ul>
    <span
      >Estamos comprometidos en brindarte el mejor servicio y asistencia para
      que puedas acceder nuevamente a tu cuenta. ¡Gracias por confiar en
      nosotros!"</span
    >
  </div>
</div>
