<div class="main-container">
  <div class="title">
    <h1>¿Olvidaste tu contraseña?</h1>
  </div>
  <div class="content">
    <span>
      No te preocupes, estamos aquí para ayudarte. Para recuperar tu contraseña,
      por favor comunícate con nuestro equipo de soporte:</span
    >
    <ul>
      <li>Envía un correo electrónico a: info@aspintegraopciones.com</li>
      <li>O llámanos al teléfono: 800 462 7373</li>
    </ul>
    <span
      >Estamos comprometidos en brindarte el mejor servicio y asistencia para
      que puedas acceder nuevamente a tu cuenta. ¡Gracias por confiar en
      nosotros!"</span
    >
  </div>
</div>
