<div class="body">
  <div class="carga-masiva-btn">
    <button
      mat-raised-button
      style="color: #faf8ff; background-color: #b71c1c"
      (click)="openDialog()"
    >
      Abrir Carga Masiva
    </button>
  </div>
  <div class="downloads-container">
    <mat-card class="mini-card" *ngFor="let ar of archivo_Eiyu">
      <div class="mini-card-icon">
        <i class="fa-solid fa-file-excel fa-2xl" style="color: #009688"></i>
      </div>
      <div class="mini-card-content">
        <span>{{ar.filename}}</span>
        <span class="card-date-text">{{ar.fecha_creacion}}</span>
      </div>
      <div class="mini-card-download">
        <button matTooltip="Descargar Archivo" class="download-btn" (click)="leerArchivo(ar.idArchivo,ar.filename)">
          <i class="fa-solid fa-arrow-right-to-bracket fa-rotate-270 fa-xl"></i>
        </button>
      </div>
    </mat-card>
  </div>
  <div class="cards-container">
    <mat-card class="card" *ngFor="let pago of pagos">
      <mat-progress-bar
      *ngIf="!pago.Bandera"
        class="card-loader"
        mode="indeterminate"
      ></mat-progress-bar>
      <div class="card-content">
        <div class="card-content_left">
          <span>{{pago.NombreArchivo}}</span>
          <span class="card-date-text">{{pago.Fecha}}</span>
        </div>
        <div class="card-content_right">
          <span>{{pago.Estatus}}</span>
          <i class="fa-solid fa-check fa-lg" style="color: #66bb6a" *ngIf="pago.Bandera"></i>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<footer class="foot">@ Derechos reservados ASP Integra Opciones V 1.2</footer>
