<div class="main-container">
  <div class="header-container">
    <img
      src="assets/img/change-password.png"
      alt="Icono de cambio de contraseña"
      class="password-img"
    />
    <div class="title-container">
      <h1>Cambiar contraseña</h1>
      <button class="info-btn"
        mat-icon-button
        matTooltipClass="my-tooltip"
        matTooltip="
        Requisitos de contraseña:
        • Longitud mínima: {{minPasswordLength}} caracteres.
        • Longitud máxima: {{maxPasswordLength}} caracteres.
        • Al menos una letra mayúscula.
        • Al menos un número.
        • Al menos un carácter especial.
        • No debe contener espacios en blanco.
        • No puede incluir la letra Ñ.
        • No puede coincidir con la contraseña actual.
        • No debe contener tres números consecutivos en ascenso o descenso.
        • No debe contener tres letras consecutivas en ascenso o descenso.
        • No se permiten contraseñas como 'SPEI', 'BANXICO' o 'SPID'.
        • No se permite la contraseña '2001'.
        "

        matTooltipPosition="right">
        <i class="fa-solid fa-circle-info fa-xl" style="color: #29b6f6;"></i>
      </button>
    </div>
  </div>
  <div class="body-container">
    <form [formGroup]="passwordForm" class="form-container">
      <div class="password-label">
        <mat-form-field>
          <mat-label>Contraseña actual</mat-label>
          <input
            type="password"
            matInput
            formControlName="actualPassword"
            (input)="borrarInput()"
            id="actualPassword"
            #actualPassword
            [type]="hide3 ? 'password' : 'text'"

          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide3 = !hide3"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide3"
          >
            <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('actualPassword', 'required')">
            Ingresa una contraseña válida
          </mat-error>
          <mat-error *ngIf="passwordForm.get('actualPassword')?.hasError('actualPassword')">La contraseña actual es incorrecta</mat-error>
        </mat-form-field>
      </div>
      <div class="password-label">
        <mat-form-field>
          <mat-label>Contraseña nueva</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            id="password"
            #password
            [type]="hide1 ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1"
          >
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('password', 'required')">
            Ingresa una contraseña.
          </mat-error>
          <mat-error *ngIf="passwordControlHasError('password', 'minlength')">
            La contraseña debe tener al menos
            {{ minPasswordLength }} caracteres.
          </mat-error>
          <mat-error *ngIf="passwordControlHasError('password', 'maxlength')">
            La contraseña no debe tener más de
            {{ maxPasswordLength }} caracteres.
          </mat-error>
          <mat-error *ngIf="passwordForm.get('password')?.hasError('invalidPassword')">
            La contraseña ingresada no es valida.
          </mat-error>
        </mat-form-field>
        <i
          *ngIf="!passwordForm.get('password')?.hasError('invalidPassword') && !passwordControlHasError('password', 'minlength') && !passwordControlHasError('password', 'maxlength')"
          class="fa-solid fa-check fa-lg"
          style="color: #66bb6a; position: absolute; right: -30px"
        ></i>
      </div>
      <div class="password-label">
        <mat-form-field>
          <mat-label>Repetir contraseña nueva</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmPassword"
            id="confirmPassword"
            #confirmPassword
            CopyPasteBlock
            [type]="hide2 ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('confirmPassword', 'required')">
            Ingresa una contraseña válida
          </mat-error>
          <mat-error *ngIf="passwordForm.hasError('passwordsMismatch')">Las contraseña nueva no coincide. Vuelve a ingresarla.</mat-error>
        </mat-form-field>
        <i
          *ngIf=" !passwordForm.get('password')?.hasError('invalidPassword') &&
            !passwordControlHasError('confirmPassword', 'minlength') && !passwordForm.hasError('passwordsMismatch') && !passwordControlHasError('confirmPassword', 'maxlength')"
          class="fa-solid fa-check fa-lg"
          style="color: #66bb6a; position: absolute; right: -30px"
        ></i>
      </div>
      <div class="error-message" *ngIf="isError">
        <mat-error >
          La contraseña nueva no puede ser igual a la actual.
        </mat-error>
      </div>
      <button class="reset-password-button" (click)="onSubmit()">
        <span>Cambiar contraseña</span>
      </button>
    </form>
  </div>
</div>
<footer class="foot">@ Derechos reservados ASP Integra Opciones V 1.2</footer>
