<div class="main-container">
  <div class="header-container">
    <img
      src="assets/img/change-password.png"
      alt="Icono de cambio de contraseña"
      class="password-img"
    />
    <h1>Cambiar contraseña</h1>
  </div>
  <div class="body-container">
    <form [formGroup]="passwordForm" class="form-container">
      <div class="password-label">
        <mat-form-field>
          <mat-label>Contraseña actual</mat-label>
          <input
            type="password"
            matInput
            formControlName="actualPassword"
            id="password"
            [type]="hide3 ? 'actualPassword' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide3 = !hide3"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide3"
          >
            <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('actualPassword', 'required')">
            Ingresa una contraseña válida
          </mat-error>
          <mat-error *ngIf="actualPassword">La contraseña actual es incorrecta</mat-error>
        </mat-form-field>
      </div>
      <div class="password-label">
        <mat-form-field>
          <mat-label>Contraseña nueva</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            id="password"
            [type]="hide1 ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1"
          >
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('password', 'required')">
            Ingresa una contraseña válida
          </mat-error>
          <mat-error *ngIf="passwordControlHasError('password', 'minlength')">
            La contraseña debe tener al menos
            {{ minPasswordLength }} caracteres.
          </mat-error>
          <mat-error *ngIf="passwordControlHasError('password', 'maxlength')">
            La contraseña no debe tener más de
            {{ maxPasswordLength }} caracteres.
          </mat-error>
        </mat-form-field>
        <i
          *ngIf="isPasswordValid(this.passwordForm.value.password)"
          class="fa-solid fa-check fa-lg"
          style="color: #66bb6a; position: absolute; right: -30px"
        ></i>
      </div>
      <div class="password-label">
        <mat-form-field>
          <mat-label>Repetir contraseña nueva</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmPassword"
            id="confirmPassword"
            [type]="hide2 ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControlHasError('confirmPassword', 'required')">
            Ingresa una contraseña válida
          </mat-error>
          <mat-error *ngIf="passwordForm.hasError('passwordsMismatch')">Las contraseña nueva no coincide. Veulve a ingresarla.</mat-error>
        </mat-form-field>
        <i
          *ngIf="
            isPasswordValid(this.passwordForm.value.confirmPassword)"
          class="fa-solid fa-check fa-lg"
          style="color: #66bb6a; position: absolute; right: -30px"
        ></i>
      </div>
      <div class="error-message" *ngIf="isError">
        <mat-error >
          Error al actualizar la contraseña, intentelo de nuevo
        </mat-error>
      </div>
      <button class="reset-password-button" (click)="onSubmit()">
        <span>Guardar</span>
      </button>
    </form>
  </div>
</div>
<footer class="foot">@ Derechos reservados ASP Integra Opciones V 1.2</footer>
