<button mat-icon-button style="display: flex;align-content: flex-end;float: right;" (click)="Salir()">
  <mat-icon>clear</mat-icon>
</button><br> 
<div style="display: flex; justify-content: center; align-content: flex-end; font-size: 18px; left: 20px;">
  Clave de rastreo: <div style="font-weight: 550; left: 10px; ">{{clabe}}</div>
</div>
<table>
  <tr>
    <th>Cuenta Origen:</th>
    <td>{{ obtenerCuentaEnmascarada(infoMovimientoDetalle.cuentaorigen) }}</td>

  </tr>
  <br>
  <tr>
    <th>Banco Origen:</th>
    <td>{{infoMovimientoDetalle.bancoorigen}}</td>
  </tr>
  <br>
  <tr>
    <th>Nombre Origen:</th>
    <td>{{infoMovimientoDetalle.nombreorigen}}</td>
  </tr>
  <br>
  <tr>
    <th>Cuenta Destino:</th>
    <td>{{ obtenerCuentaEnmascarada(infoMovimientoDetalle.cuentadestino) }} </td>
  </tr>
  <br>
  <tr>
    <th>Banco Destino:</th>
    <td>{{infoMovimientoDetalle.bancodestino}}</td>
  </tr>
  <br>
  <tr>
    <th>Nombre Destino:</th>
    <td>{{infoMovimientoDetalle.nombre_destino}}</td>
  </tr>
  <br>
  <tr>
    <th>Concepto:</th>
    <td>{{infoMovimientoDetalle.conscepto}}</td>
  </tr>
  <br>
  <tr>
    <th>Referencia Numérica:</th>
    <td>{{infoMovimientoDetalle.ref_num}}</td>
  </tr>
</table>