.btn{
    display: flex;
    justify-content: center;
}
.btn2{
  
display: none;
}
.contenedor-spinner {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    height: 100%; /* establece la altura del contenedor para que el spinner se centre verticalmente */
  }
  .qr-container {
    width: 300px;
    height: 300px;
 }
  