/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-menu-panel {
    background: rgba(255, 255, 255, 0.31);
}
.mat-drawer-content{
  overflow-x: hidden !important;
}
.mat-drawer-content{
  overflow-x: hidden !important;
}
